* {
    box-sizing: border-box;
}

// variables
$tablet:768px;
// require for parallax
body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

// animated lines on hover (ex: in nav-bar)
@mixin animate-white-line {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    // transform:scaleX(0); for scaling from middle
    transition: all 0.3s ease-in-out 0s;
}

// define parallax function
@mixin parallaxCSS($img-url) {
    position: relative;
    // method to prevent img opacity from affecting child elements
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), $img-url;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

// ios issues with fixed background
@mixin mobileParallaxCSS($img-url) {
    position: relative;
    // method to prevent img opacity from affecting child elements
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), $img-url;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

// horizontally and vertically center element
@mixin horzAndVertCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

// style section titles
@mixin titleStyle {
    color: white;
    background: #282e34;
    padding: 1rem;
    margin: 0; // remove default
    letter-spacing: 0.3rem;
    text-align: center;
}

// style project names
@mixin nameStyle {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    text-align: center;
}

// // style project descriptions
// @mixin caption {
//     // styling
//     background: rgba(40, 46, 52, 1);
//     color: white;
//     font-size: 1rem;
//     padding: 1rem;
//     // position caption below project name
//     position: absolute;
//     top: 55%;
//     left: 50%;
//     transform: translate(-50%, 0);
// }
//---------------------------------intro
.intro {
    height: 100%;
    .nav-bar {
        @include titleStyle;
        display: flex;
        justify-content: center;
        margin: 0; // remove default css styling from ul
        padding: 10px;
        // fix nav bar to top
        position: fixed;
        width: 100%;
        z-index: 10;
        @media(min-width: $tablet) {
            justify-content: flex-end;
        }
        a {
            text-decoration: none; //remove default
            li {
                right: 0.5rem; // padding for between contact and browser
                margin: 0 0.5rem; // space between each li item
                position: relative;
                color: white;
                list-style-type: none;
                letter-spacing: 0; // remove letter spacing for mobile (lack of space for it)
                border-bottom: 2px solid white;
                @media(min-width: $tablet) {
                    letter-spacing: 0.3rem;
                    border: unset; // remove border set for mobile (using animated white line instead)
                    // --------------------------- animate white line
                    &:before {
                        @include animate-white-line;
                    }
                    &:hover {
                        cursor: pointer;
                        // show animated white lines on hover
                        &:before {
                            visibility: visible;
                            width: 100%;
                        }
                    }
                    //-----------------------------
                }
            }
        }
    }
    .intro-img {
        @media(min-width: $tablet) {
            @include parallaxCSS(url('./assets/images/home-toronto.jpg'));
        }
        @media(max-width:$tablet) {
            @include mobileParallaxCSS(url('./assets/images/home-toronto.jpg'));
        }
        height: 100%;
        .content-container {
            @include horzAndVertCenter;
            width: 100%;
            position: relative;
            .name-container {
                display: inline-block; // background only fills up to content
                // horz center
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                // 
                @include nameStyle;
                .name {
                    text-decoration: underline;
                }
                .description {
                    text-decoration: unset;
                }
            }
            .skill {
                display: none; //////////////// test@@@@@@@@@@@@
                // display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                padding: 0.5rem;
                background: rgba(0, 0, 0, 0.5); // background color 
                [class*="-icon"] > * {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 20%;
                }
                // maybe remove???????????
                .html-icon,
                .css-icon,
                .js-icon {
                    flex: 1 1 33.33%;
                    order: -1;
                    @media(min-width: $tablet) {
                        flex: unset;
                        order: 0;
                    }
                }
            }
        }
    }
}

//-------------------------------projects
.projects {
    min-height: 100%; // allow '.projects' div to expand all the way
    // styles section titles
    .title {
        @include titleStyle;
        text-align: center
    }
    .skills {
        display: inline-flex;
        flex-flow: column nowrap;
        justify-content: center;
        height: 100vh;
        & img {
            position: relative;
            width: 3rem;
            height: 3rem;
            margin: 1rem 0.3rem;
            // for initial state of animation
            left: -3rem;
            opacity: 0;
            @media(min-width: $tablet) {
                margin: 1rem 1.5rem;
            }
            //---- animations
            &.animated {
                transition: all 1s ease;
            }
            &.in-view {
                left: 0;
                opacity: 1;
            }
        }
    }
    // contains content in center 
    .proj-content {
        @include horzAndVertCenter;
        display: flex;
        text-align: center;
        // display as column layout on mobile
        @media(max-width: $tablet) {
            flex-flow: column;
        }
        // display as row layout on mobile
        @media(min-width: $tablet) {
            display: flex;
            justify-content: center;
            width: 100%;
        }
        // for 'view code' and 'view site' icons
        [class*='icon-container'] {
            display: inline-block; // background only extends up to icons
            position: relative;
            background: rgba(0, 0, 0, 0.7);
            padding: 0.5rem;
            @media(min-width: $tablet) {
                display: flex;
                flex-flow: column;
                text-align: center; // align fa icon
            }
            a {
                color: white;
                .fa {
                    // width: 2em;
                    // height: 2em;
                    font-size: 2em;
                    text-align: center;
                }
            }
        }
        // ---------------------------- animation of 'view-site and view-github'
        .icon-container-left {
            left: -50px;
            opacity: 0;
        }
        .icon-container-right {
            left: 50px;
            opacity: 0;
        }
        .animated {
            transition: all 1s ease;
        }
        // applied when elements with '.animated' is in viewport
        .in-view {
            left: 0px;
            opacity: 1;
        }
        // -----------------------------------------------------------
        // black line to connect project name and 'view-' links
        .line {
            position: relative;
            align-self: center;
            height: 2rem;
            width: 5px;
            background: black;
            @media(min-width: $tablet) {
                align-self: center;
                width: 2rem;
                height: 5px;
            }
        }
        // name of each project
        .name {
            @include nameStyle;
        }
    }
    // project 0
    .project-0-img {
        @media(min-width: $tablet) {
            @include parallaxCSS(url('./assets/images/twitch.PNG'));
        }
        @media(max-width:$tablet) {
            @include mobileParallaxCSS(url('./assets/images/twitch.PNG'));
        }
        min-height: 100vh;
        ; // adjust height for different parallax feel
    }
    // project 1 
    .project-1-img {
        @media(min-width: $tablet) {
            @include parallaxCSS(url('./assets/images/wiki.PNG'));
        }
        @media(max-width:$tablet) {
            @include mobileParallaxCSS(url('./assets/images/wiki.PNG'));
        }
        min-height:100vh;
    }
    .project-2-img {
        @media(min-width: $tablet) {
            @include parallaxCSS(url('./assets/images/pomo.PNG'));
        }
        @media(max-width:$tablet) {
            @include mobileParallaxCSS(url('./assets/images/pomo.PNG'));
        }
        min-height:100vh;
    }
    .project-3-img {
        @media(min-width: $tablet) {
            @include parallaxCSS(url('./assets/images/weather.PNG'));
        }
        @media(max-width:$tablet) {
            @include mobileParallaxCSS(url('./assets/images/weather.PNG'));
        }
        min-height:100vh;
    }
    .project-4-img {
        @media(min-width: $tablet) {
            @include parallaxCSS(url('./assets/images/quote.PNG'));
        }
        @media(max-width:$tablet) {
            @include mobileParallaxCSS(url('./assets/images/quote.PNG'));
        }
        min-height:100vh;
    }
}

//-------------------------------------------------------About
.title {
    @include titleStyle;
}

.about {
    overflow-x: hidden; // hides horz scrollbar due to initial pos of animated elements
    @media(min-width: $tablet) {
        @include parallaxCSS( url("./assets/images/learning-bg.jpg"));
        background-size: cover;
    }
    @media(max-width:$tablet) {
        @include mobileParallaxCSS( url("./assets/images/learning-bg.jpg"));
    }
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 2em 0;
    // background: center/cover no-repeat url("./assets/images/learning-bg.jpg");
    .statement {
        font-size: 1.4rem;
        padding: 1rem;
        background: rgba(194, 204, 199, 0.7);
        border-radius: 5px;
        opacity: 0; // to be animated back to 1
        @media(min-width: $tablet) {
            width: 50vw;
        }
        &.animated {
            transition: all 2s ease;
        }
        &.in-view {
            opacity: 1;
        }
    }
    .learning-resource {
        display: flex;
        flex-flow: row wrap;
        .resource {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            flex: 1 1 100%;
            text-align: center;
            @media(min-width: $tablet) {
                flex: 1 1 50%;
            }
            .description {
                max-width: 25em;
                min-height: 5em; // aligns images vertically
                margin: 1em;
                font-size: 1.2em;
                background: rgba(255, 255, 255, 0.6);
            }
            img {
                max-width: 100%;
                max-height: 10em;
            }
        }
        //----------------animation
        .ydkjs,
        .htmlandcss {
            position: relative;
            left: -10%;
            opacity: 0;
        }
        .eloquentjs,
        .fcc {
            position: relative;
            left: 10%;
            opacity: 0;
        }
        .animated {
            transition: all 1s ease;
        }
        .in-view {
            left: 0;
            opacity: 1;
        }
    }
}

//------------------------------------------------------ Contact
.contact {
    background: #e5e6e9;
    padding-bottom: 2em;
    .title {
        @include titleStyle;
    }
    .contact-icons {
        display: flex;
        flex-flow: row wrap;
        @media(min-width: $tablet) {
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            padding: 0; // remove default
        }
        // target each individual icon div
        &>* {
            flex: 1 1 100%; // each contact in columns on mobile
            padding-top: 1em;
            @media(min-width: $tablet) {
                flex: none; // remove flex for non-mobile
            }
        }
        // align icons to middle of text
        .fa {
            vertical-align: middle;
            font-size: 1.5em;
            @media(min-width: $tablet) {
                font-size: 2em;
            }
        }
        // change default <a> color
        a {
            text-decoration: none;
            color: black;
        }
    }
}

