@font-face {
  font-family: bit;
  src: url("./assets/fonts/8bit.ttf"); }

body {
  overflow-x: hidden; }

.title {
  font-family: 'Questrial', sans-serif;
  text-align: center; }

.intro {
  position: relative;
  height: 100vh;
  text-align: center; }
  .intro .background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background: center/cover no-repeat url("http://www.carlingview.ca/images/home-toronto.jpg");
    filter: blur(4px); }
  .intro .content {
    position: relative; }
    .intro .content .nav-bar {
      display: flex;
      justify-content: flex-end;
      background-color: rgba(255, 255, 255, 0.35);
      margin: 0;
      padding: 0; }
      @media (max-width: 500px) {
        .intro .content .nav-bar {
          justify-content: center; } }
      .intro .content .nav-bar a {
        text-decoration: none; }
        .intro .content .nav-bar a li {
          margin: 0 10px;
          position: relative;
          font-family: 'Questrial', sans-serif;
          font-size: 1.3em;
          color: black;
          list-style-type: none;
          letter-spacing: 0.3em; }
          @media (max-width: 500px) {
            .intro .content .nav-bar a li {
              letter-spacing: 0;
              border: unset;
              border-bottom: 2px solid white; } }
          .intro .content .nav-bar a li:before {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: white;
            visibility: hidden;
            transition: all 0.3s ease-in-out 0s; }
          .intro .content .nav-bar a li:hover {
            cursor: pointer;
            color: black; }
            .intro .content .nav-bar a li:hover:before {
              visibility: visible;
              width: 100%; }
    .intro .content .hello {
      color: #6cccfe;
      font-family: bit;
      font-size: 30pt; }
    .intro .content .name {
      font-size: 36pt;
      font-weight: bold;
      border: 1px solid white; }
    .intro .content .aim {
      text-align: center; }
    .intro .content .skill {
      margin-top: 2em;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around; }
      .intro .content .skill [class*="-icon"] > * {
        width: 50px;
        height: 50px;
        border-radius: 20%; }

.projects {
  min-height: 100vh;
  border: 1px solid; }
  .projects .carousel-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; }
    .projects .carousel-container [class^="slot-"] {
      display: flex;
      flex: 1 1 20%;
      height: 150px;
      margin: 0 5px;
      /*make sure to account for margins in offset calc*/ }
      .projects .carousel-container [class^="slot-"] .img-title,
      .projects .carousel-container [class^="slot-"] .caption {
        display: none; }
    .projects .carousel-container img {
      background: cover/center;
      width: 100%;
      height: 100%; }
    .projects .carousel-container .carousel {
      position: static;
      display: flex;
      flex-flow: row nowrap;
      /*distributes arrows to either sides*/
      justify-content: space-between;
      width: 50vw;
      height: 50vh;
      background-color: grey;
      flex: 1 1 70%;
      align-items: center; }
      .projects .carousel-container .carousel .arrow {
        font-size: 30pt; }
        .projects .carousel-container .carousel .arrow:hover {
          cursor: pointer; }
      .projects .carousel-container .carousel .curr-img-container {
        /*Position dots*/
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-end;
        /**/
        width: 100%;
        height: 100%;
        overflow-x: hidden; }
        .projects .carousel-container .carousel .curr-img-container .main-overlay {
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-between;
          align-items: center;
          position: absolute;
          height: 100px;
          overflow-x: hidden; }
          .projects .carousel-container .carousel .curr-img-container .main-overlay .header {
            width: 100%;
            text-align: center;
            color: white;
            background: rgba(0, 0, 0, 0.5);
            z-index: 9999;
            display: block; }
          .projects .carousel-container .carousel .curr-img-container .main-overlay .footer {
            width: 100%;
            z-index: 9999; }
            .projects .carousel-container .carousel .curr-img-container .main-overlay .footer .caption-display {
              width: 100%;
              text-align: center;
              color: white;
              background: rgba(0, 0, 0, 0.5);
              z-index: 9999;
              display: block;
              margin-bottom: 10px; }
            .projects .carousel-container .carousel .curr-img-container .main-overlay .footer .nav-bar {
              display: flex;
              flex-flow: row nowrap;
              justify-content: space-between;
              align-items: center; }
              .projects .carousel-container .carousel .curr-img-container .main-overlay .footer .nav-bar .left-icons .github-icon {
                margin-left: 10px;
                color: black;
                font-size: 20pt; }
              .projects .carousel-container .carousel .curr-img-container .main-overlay .footer .nav-bar .nav-dots {
                display: flex;
                flex-flow: row nowrap;
                z-index: 9999; }
                .projects .carousel-container .carousel .curr-img-container .main-overlay .footer .nav-bar .nav-dots .dot {
                  width: 12px;
                  height: 12px;
                  border-radius: 50%;
                  margin: 0 10px;
                  background: black; }
                  .projects .carousel-container .carousel .curr-img-container .main-overlay .footer .nav-bar .nav-dots .dot:hover {
                    cursor: pointer; }
                .projects .carousel-container .carousel .curr-img-container .main-overlay .footer .nav-bar .nav-dots .active-dot {
                  width: 12px;
                  height: 12px;
                  border-radius: 50%;
                  margin: 0 10px;
                  background: white; }
              .projects .carousel-container .carousel .curr-img-container .main-overlay .footer .nav-bar .right-icons .info-icon {
                margin-right: 10px;
                font-size: 20pt; }
                .projects .carousel-container .carousel .curr-img-container .main-overlay .footer .nav-bar .right-icons .info-icon.active {
                  color: blue; }
                .projects .carousel-container .carousel .curr-img-container .main-overlay .footer .nav-bar .right-icons .info-icon:hover {
                  cursor: pointer; }
        .projects .carousel-container .carousel .curr-img-container .mobile {
          width: 500px;
          height: 100%;
          background: url("./assets/images/quote.png");
          background-position: -1000px;
          overflow: hidden; }
    @media (max-width: 1000px) {
      .projects .carousel-container .web {
        display: none; } }
  .projects .info {
    display: none;
    border: 1px solid blue; }

.learning {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background: center/cover no-repeat url("http://derby.graphics/images/1074.jpg"); }
  .learning .to-do-list,
  .learning .resources {
    min-width: 250px;
    height: 75vh;
    background-color: #ffffa5;
    border: 1px solid blue; }
