//--------------------------------------Globals
* {
    box-sizing: border-box;
}

////// Variables
$tablet:900px;
$desktop: 1000px;
@font-face {
    font-family: bit;
    src: url("./assets/fonts/8bit.TTF")
}

@mixin hoverColor {
    background: rgba(0, 0, 0, 0.45);
    color: white;
}

// animated lines on hover (ex: in nav-bar)
@mixin animate-white-line {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    // transform:scaleX(0); for scaling from middle
    transition: all 0.3s ease-in-out 0s;
}

// hide horz scrollbar when panning through project slides
html {
    overflow-x: hidden;
}

// remove default margin 
h1 {
    margin: 0;
}

h3 {
    @media(max-width: $tablet) {
        margin-bottom: 1.1rem;
    }
}

// body font type
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

// title font type
.title {
    font: {
        family: 'Questrial', sans-serif;
        size: 2em;
    }
    text-align: center;
}

//---------- to top of page button
.top {
    align-self: flex-end; // for arrow in about section
    text-align: right; // aligns icon to right
    font-size: 2em;
    padding-right: 1em;
    @media(min-width: $tablet) {
        padding-right: 1em;
    }
    .fa {
        color: black;
    }
}

//---------------------------------------------------- intro
.intro {
    position: relative;
    height: 75vh;
    text-align: center;
    .background-image {
        position: absolute;
        width: 100%;
        height: 100%;
        background: center/cover no-repeat url("./assets/images/home-toronto.jpg");
        filter: blur(4px);
    }
    .content {
        position: relative;
        .nav-bar {
            display: flex;
            justify-content: center;
            background-color: rgba(255, 255, 255, 0.35);
            margin: 0; // remove default css styling from ul
            padding: 10px;
            @media(min-width: $desktop) {
                justify-content: flex-end;
            }
            a {
                text-decoration: none;
                li {
                    margin: 0 10px;
                    position: relative;
                    font: {
                        family: 'Questrial', sans-serif;
                        size: 1.3em;
                        weight:500;
                    }
                    color:black;
                    list-style-type: none;
                    letter-spacing: 0;
                    border-bottom: 2px solid white;
                    @media(min-width:$desktop) {
                        letter-spacing: 0.3em;
                        border: unset;
                        &:before {
                            @include animate-white-line;
                        }
                        &:hover {
                            cursor: pointer;
                            color: black;
                            &:before {
                                visibility: visible;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .hello {
            color: #2ba3e2;
            font: {
                family: bit;
                size: 2rem;
            }
        }
        .name {
            font: {
                size: 3em;
            }
            color:#c56f00;
            padding-bottom:5px;
            border-bottom:2px solid white;
        }
        .aim {
            text-align: center;
            font-size: 1.5em;
            color: #d4963a;
        }
        .skill {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            margin-top: 2em;
            [class*="-icon"] > * {
                width: 3em;
                height: 3em;
                border-radius: 20%;
            }
            .html-icon,
            .css-icon,
            .js-icon {
                flex: 1 1 33%;
                order: -1;
                @media(min-width: $desktop) {
                    flex: unset;
                    order: 0;
                }
            }
        }
    }
}

//----------------------------------------------------Projects
.projects {
    margin-top: 2em;
    .carousel-container {
        @media(min-width: $tablet) {
            flex-flow: row nowrap;
            align-items: center;
        }
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        [class^='slot'] {
            @media(min-width: $tablet) {
                flex: 1 1 20%;
                height: 150px;
            }
            @media(max-width:$tablet) {
                &:nth-child(odd) {
                    background: rgba(217, 217, 224, 0.35);
                }
                &:nth-child(even) {
                    background: #DCDCDD;
                }
            }
            display:flex;
            justify-content: space-between;
            position: relative;
            margin: 10px;
            // Contains contents div with title,caption,etc. and the corresponding img
            .to-move {
                @media(min-width: $tablet) {
                    display: block; // fix content box taking up space
                }
                display: flex;
                flex-flow:row wrap;
                justify-content: space-between;
                width:100%;
                // Targets everything in .content except for img
                .content {
                    flex: 1 1 100%;
                    height: 100%; // fix image pos in tablet
                    text-align: center;
                    & :not(img) {
                        // ** make sure prettify does not remove space between & :not... or img will not be displayed
                        @media(min-width: $tablet) {
                            display: none;
                        }
                        flex:1 1 100%; // sets allowed space of .content before collapse
                        // flex:1 1; maybe not be needed, img0 on refresh doesnt not size properly inititally
                    }
                    .links {
                        display: flex;
                        flex-flow: row wrap;
                        font-size: 1.2em;
                        text-align: left;
                        a {
                            text-align: center; // center links
                            color: black; // change default <a> color
                        }
                    }
                    .caption-title {
                        padding-top: 1em;
                        margin: 0; // remove default
                        clear: both; // clears caption from floated img
                    }
                    ul {
                        display: inline-block; // center ul
                        text-align: left;
                    }
                    img {
                        float: right;
                        width: 150px;
                        height: 150px;
                        @media(min-width: $tablet) {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
        // set size of featured slide
        .main-display {
            @media(min-width: $tablet) {
                height: 50vh;
                flex: 1 1 70%;
            }
            // divided into 3 columns: left, main, right
            .overlay {
                display: none; // overlay not shown on mobile
                @media(min-width: $tablet) {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: center;
                    position: absolute;
                    left: 0; // required for firefox and IE interaction with flexbox (fix overlay positioning)
                    width: 100%;
                    height: 100%;
                    text-align: center;
                }
                .left-bar {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    flex: 1 1 10%;
                    height: 100%;
                    .left-arrow {
                        // @include hoverColor;
                        background:black;
                        font-size: 20pt;
                        color: white;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
                .main-content {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-between;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    .display-title {
                        @include hoverColor;
                    }
                    .center {
                        display: none;
                        @media(min-width: $tablet) {
                            // when center of overlays is hovered
                            &:hover {
                                @include hoverColor;
                                &>.view {
                                    display: flex;
                                }
                            }
                            display:flex;
                            justify-content: space-around;
                            align-items:center;
                            height:100%;
                            // middle icon size
                            & .fa {
                                font-size: 3rem;
                            }
                            .view {
                                display: none; // hide icons when not hovered
                                flex-flow: column nowrap;
                                a {
                                    color: white; // change default anchor color
                                }
                            }
                        }
                    }
                    .footer {
                        @include hoverColor;
                        .nav-bar {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                            .left-icons {
                                @media(min-width: $tablet) {
                                    visibility: hidden;
                                }
                                margin-left: 10px;
                                color: black;
                                font-size: 25pt;
                            }
                            .nav-dots {
                                display: flex;
                                .dot {
                                    width: 12px;
                                    height: 12px;
                                    border-radius: 50%;
                                    margin: 0 10px;
                                    background: grey; // dot colors
                                    &:hover {
                                        cursor: pointer;
                                    }
                                }
                                .active-dot {
                                    width: 12px;
                                    height: 12px;
                                    border-radius: 50%;
                                    margin: 0 10px;
                                    background: white;
                                }
                            }
                            .right-icons {
                                margin-right: 10px;
                                font-size: 25pt;
                                &.active {
                                    color: blue;
                                }
                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                    &:hover.center {
                        display: flex;
                    }
                }
                // right bar same css as left bar
                .right-bar {
                    @extend .left-bar;
                    .right-arrow {
                        @extend .left-arrow;
                    }
                }
            }
        }
    }
    .info-display {
        display: none;
        padding: 1em;
        background: rgba(128, 128, 128, 0.3); // info-display background color
        @media(max-width: $tablet) {
            display: none !important; // prevent from showing on mobile
        }
    }
    // to-top btn for mobile only, required due to layout
    .top-btn-mobile {
        @media(min-width: $tablet) {
            display: none;
        }
    }
}

//-------------------------------------------------------About
.about {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 2em 0;
    background: center/cover no-repeat url("./assets/images/learning-bg.jpg");
    .statement {
        font: {
            size: 1.4em;
        }
        padding:1em;
        background: rgba(255,
        255,
        255,
        0.8);
        @media(min-width:$tablet) {
            width: 50vw;
        }
    }
    .learning-resource {
        display: flex;
        flex-flow: row wrap;
        .resource {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            flex: 1 1 100%;
            text-align: center;
            @media(min-width: $tablet) {
                flex: 1 1 50%;
            }
            .description {
                max-width: 25em;
                height: 5em; // aligns images vertically
                margin: 1em;
                font-size: 1.2em;
                background: rgba(255, 255, 255, 0.4);
            }
            img {
                max-width: 100%;
                max-height: 10em;
            }
        }
    }
}

//------------------------------------------------------ Contact
.contact {
    padding: 2em;
    background: #e5e6e9;
    @media(min-width: $tablet) {
        padding: 2em 0;
    }
    .contact-icons {
        display: flex;
        flex-flow: row wrap;
        @media(min-width: $tablet) {
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            padding: 0; // remove default
        }
        &>* {
            padding-top: 1em;
        }
        // align icons to middle of text
        .fa {
            vertical-align: middle;
            font-size: 1.5em;
            @media(min-width: $tablet) {
                font-size: 2em;
            }
        }
        // change default <a> color
        a {
            color: black;
        }
    }
}

