* {
  box-sizing: border-box; }

body,
html {
  height: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif; }

.intro {
  height: 100%; }
  .intro .nav-bar {
    color: white;
    background: #282e34;
    padding: 1rem;
    margin: 0;
    letter-spacing: 0.3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 10; }
    @media (min-width: 768px) {
      .intro .nav-bar {
        justify-content: flex-end; } }
    .intro .nav-bar a {
      text-decoration: none; }
      .intro .nav-bar a li {
        right: 0.5rem;
        margin: 0 0.5rem;
        position: relative;
        color: white;
        list-style-type: none;
        letter-spacing: 0;
        border-bottom: 2px solid white; }
        @media (min-width: 768px) {
          .intro .nav-bar a li {
            letter-spacing: 0.3rem;
            border: unset; }
            .intro .nav-bar a li:before {
              content: "";
              position: absolute;
              width: 0;
              height: 2px;
              bottom: 0;
              left: 0;
              background-color: white;
              visibility: hidden;
              transition: all 0.3s ease-in-out 0s; }
            .intro .nav-bar a li:hover {
              cursor: pointer; }
              .intro .nav-bar a li:hover:before {
                visibility: visible;
                width: 100%; } }
  .intro .intro-img {
    height: 100%; }
    @media (min-width: 768px) {
      .intro .intro-img {
        position: relative;
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./assets/images/home-toronto.jpg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed; } }
    @media (max-width: 768px) {
      .intro .intro-img {
        position: relative;
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./assets/images/home-toronto.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; } }
    .intro .intro-img .content-container {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      position: relative; }
      .intro .intro-img .content-container .name-container {
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        background: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 1rem;
        font-size: 1.5rem;
        letter-spacing: 0.3rem;
        text-align: center; }
        .intro .intro-img .content-container .name-container .name {
          text-decoration: underline; }
        .intro .intro-img .content-container .name-container .description {
          text-decoration: unset; }
      .intro .intro-img .content-container .skill {
        display: none;
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 0.5rem;
        background: rgba(0, 0, 0, 0.5); }
        .intro .intro-img .content-container .skill [class*="-icon"] > * {
          width: 3rem;
          height: 3rem;
          border-radius: 20%; }
        .intro .intro-img .content-container .skill .html-icon,
        .intro .intro-img .content-container .skill .css-icon,
        .intro .intro-img .content-container .skill .js-icon {
          flex: 1 1 33.33%;
          order: -1; }
          @media (min-width: 768px) {
            .intro .intro-img .content-container .skill .html-icon,
            .intro .intro-img .content-container .skill .css-icon,
            .intro .intro-img .content-container .skill .js-icon {
              flex: unset;
              order: 0; } }

.projects {
  min-height: 100%; }
  .projects .title {
    color: white;
    background: #282e34;
    padding: 1rem;
    margin: 0;
    letter-spacing: 0.3rem;
    text-align: center;
    text-align: center; }
  .projects .skills {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100vh; }
    .projects .skills img {
      position: relative;
      width: 3rem;
      height: 3rem;
      margin: 1rem 0.3rem;
      left: -3rem;
      opacity: 0; }
      @media (min-width: 768px) {
        .projects .skills img {
          margin: 1rem 1.5rem; } }
      .projects .skills img.animated {
        transition: all 1s ease; }
      .projects .skills img.in-view {
        left: 0;
        opacity: 1; }
  .projects .proj-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    text-align: center; }
    @media (max-width: 768px) {
      .projects .proj-content {
        flex-flow: column; } }
    @media (min-width: 768px) {
      .projects .proj-content {
        display: flex;
        justify-content: center;
        width: 100%; } }
    .projects .proj-content [class*='icon-container'] {
      display: inline-block;
      position: relative;
      background: rgba(0, 0, 0, 0.7);
      padding: 0.5rem; }
      @media (min-width: 768px) {
        .projects .proj-content [class*='icon-container'] {
          display: flex;
          flex-flow: column;
          text-align: center; } }
      .projects .proj-content [class*='icon-container'] a {
        color: white; }
        .projects .proj-content [class*='icon-container'] a .fa {
          font-size: 2em;
          text-align: center; }
    .projects .proj-content .icon-container-left {
      left: -50px;
      opacity: 0; }
    .projects .proj-content .icon-container-right {
      left: 50px;
      opacity: 0; }
    .projects .proj-content .animated {
      transition: all 1s ease; }
    .projects .proj-content .in-view {
      left: 0px;
      opacity: 1; }
    .projects .proj-content .line {
      position: relative;
      align-self: center;
      height: 2rem;
      width: 5px;
      background: black; }
      @media (min-width: 768px) {
        .projects .proj-content .line {
          align-self: center;
          width: 2rem;
          height: 5px; } }
    .projects .proj-content .name {
      background: rgba(0, 0, 0, 0.8);
      color: white;
      padding: 1rem;
      font-size: 1.5rem;
      letter-spacing: 0.3rem;
      text-align: center; }
  .projects .project-0-img {
    min-height: 100vh; }
    @media (min-width: 768px) {
      .projects .project-0-img {
        position: relative;
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./assets/images/twitch.PNG");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed; } }
    @media (max-width: 768px) {
      .projects .project-0-img {
        position: relative;
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./assets/images/twitch.PNG");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; } }
  .projects .project-1-img {
    min-height: 100vh; }
    @media (min-width: 768px) {
      .projects .project-1-img {
        position: relative;
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./assets/images/wiki.PNG");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed; } }
    @media (max-width: 768px) {
      .projects .project-1-img {
        position: relative;
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./assets/images/wiki.PNG");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; } }
  .projects .project-2-img {
    min-height: 100vh; }
    @media (min-width: 768px) {
      .projects .project-2-img {
        position: relative;
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./assets/images/pomo.PNG");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed; } }
    @media (max-width: 768px) {
      .projects .project-2-img {
        position: relative;
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./assets/images/pomo.PNG");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; } }
  .projects .project-3-img {
    min-height: 100vh; }
    @media (min-width: 768px) {
      .projects .project-3-img {
        position: relative;
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./assets/images/weather.PNG");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed; } }
    @media (max-width: 768px) {
      .projects .project-3-img {
        position: relative;
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./assets/images/weather.PNG");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; } }
  .projects .project-4-img {
    min-height: 100vh; }
    @media (min-width: 768px) {
      .projects .project-4-img {
        position: relative;
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./assets/images/quote.PNG");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed; } }
    @media (max-width: 768px) {
      .projects .project-4-img {
        position: relative;
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./assets/images/quote.PNG");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; } }

.title {
  color: white;
  background: #282e34;
  padding: 1rem;
  margin: 0;
  letter-spacing: 0.3rem;
  text-align: center; }

.about {
  overflow-x: hidden;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 2em 0; }
  @media (min-width: 768px) {
    .about {
      position: relative;
      background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./assets/images/learning-bg.jpg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover; } }
  @media (max-width: 768px) {
    .about {
      position: relative;
      background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./assets/images/learning-bg.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; } }
  .about .statement {
    font-size: 1.4rem;
    padding: 1rem;
    background: rgba(194, 204, 199, 0.7);
    border-radius: 5px;
    opacity: 0; }
    @media (min-width: 768px) {
      .about .statement {
        width: 50vw; } }
    .about .statement.animated {
      transition: all 2s ease; }
    .about .statement.in-view {
      opacity: 1; }
  .about .learning-resource {
    display: flex;
    flex-flow: row wrap; }
    .about .learning-resource .resource {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      flex: 1 1 100%;
      text-align: center; }
      @media (min-width: 768px) {
        .about .learning-resource .resource {
          flex: 1 1 50%; } }
      .about .learning-resource .resource .description {
        max-width: 25em;
        min-height: 5em;
        margin: 1em;
        font-size: 1.2em;
        background: rgba(255, 255, 255, 0.6); }
      .about .learning-resource .resource img {
        max-width: 100%;
        max-height: 10em; }
    .about .learning-resource .ydkjs,
    .about .learning-resource .htmlandcss {
      position: relative;
      left: -10%;
      opacity: 0; }
    .about .learning-resource .eloquentjs,
    .about .learning-resource .fcc {
      position: relative;
      left: 10%;
      opacity: 0; }
    .about .learning-resource .animated {
      transition: all 1s ease; }
    .about .learning-resource .in-view {
      left: 0;
      opacity: 1; }

.contact {
  background: #e5e6e9;
  padding-bottom: 2em; }
  .contact .title {
    color: white;
    background: #282e34;
    padding: 1rem;
    margin: 0;
    letter-spacing: 0.3rem;
    text-align: center; }
  .contact .contact-icons {
    display: flex;
    flex-flow: row wrap; }
    @media (min-width: 768px) {
      .contact .contact-icons {
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        padding: 0; } }
    .contact .contact-icons > * {
      flex: 1 1 100%;
      padding-top: 1em; }
      @media (min-width: 768px) {
        .contact .contact-icons > * {
          flex: none; } }
    .contact .contact-icons .fa {
      vertical-align: middle;
      font-size: 1.5em; }
      @media (min-width: 768px) {
        .contact .contact-icons .fa {
          font-size: 2em; } }
    .contact .contact-icons a {
      text-decoration: none;
      color: black; }
