.title {
  font-family: serif;
  text-align: center; }

.top-btn .random-button {
  margin-top: 1em;
  margin-bottom: 1em; }

.top-btn .mobile {
  margin-top: 1em; }
  @media (min-width: 992px) {
    .top-btn .mobile {
      display: none; } }
  .top-btn .mobile .dropdown-menus .mobile-result {
    padding-left: 10px; }

.main .web {
  padding: 0;
  max-width: 11em; }
  @media (max-width: 991px) {
    .main .web {
      display: none; } }

.main .recent-search-result, .main .top-btn .mobile .dropdown-menus .mobile-result, .top-btn .mobile .dropdown-menus .main .mobile-result {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

@media (min-width: 992px) {
  .panel.col-md-6 {
    padding: 0;
    width: 47%;
    margin: 1em 1.5%;
    height: 10em;
    overflow: hidden;
    text-overflow: ellipsis; } }
