.title{
    font-family:serif;
    text-align:center;
}
.top-btn {
    .random-button {
        margin: {
            top: 1em;
            bottom: 1em;
        };
    }

    .mobile {
        margin-top: 1em;

        @media (min-width: 992px) {
            display: none;
        }

        .dropdown-menus {
            .mobile-result {
                padding-left: 10px;

                @extend .recent-search-result;
            }
        }
    }
}

.main {
    .web {
        padding: 0;
        max-width: 11em;

        @media (max-width: 991px) {
            display: none;
        }
    }

    .recent-search-result {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (min-width: 992px) {
    .panel.col-md-6 {
        padding: 0;
        width: 47%;
        margin: 1em 1.5%;
        height: 10em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}