* {
    box-sizing: border-box;
}

.background-img {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.contain {
    margin: 10% 0 0 0;
}

.date-display {
    display: block;
    font-family: 'Rokkitt', serif;
}

#date-underline {
    display: block;
    border: 1px solid white;
    margin-left: 25%;
    width: 50%;
}

.location-display,
.weather-display,
.time-display {
    color: black;
    font: bold;
    background-color: rgba(0, 0, 0, 0.3);
    height: 4em;
    margin: 1.5em 0;
}

h1,
h4 {
    margin-left: 25%;
}

#weather-update {
    margin-left: 25%;
    margin-right: 7%;
}

.display {
    font-family: 'Passion One', cursive;
}

#location-text,
#weather-text {
    display: inline-block;
    padding-top: 8px;
}
