body {
    background-image: url("gameofthrones.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    border: 1px solid gold !important;
}

.title-container {
    text-align: center;
    margin-bottom: 10%;
    border: 1px solid red !important;
}

.title-container .title {
    font-size: 36pt;
}

.title-container .sub-title {
    font-size: 24pt;
}

.quote-container {
    font-size: 24pt;
    border: 1px solid blue !important;
}

.quote-container .well {
    height: 40vh;
    opacity: 0.8;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons .quote-btn {
    margin-left: 2em;
}

@media (max-width: 600px) {
    .quote-container {
        font-size: 15pt;
    }
}
