* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

.contain {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 3em;
    color: #18CAE6;
    text-align: center;
    min-height: 100vh;
}

.title{
    font-size: 1.3em;
}
.start-time {
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

.start-work-time, .start-break-time{
    padding:25px;
}

.start-work-display, .start-break-display{
    width: 120px;
}

button {
    width: 6em;
}

input {
    background-color: black;
    border: 1px solid #18CAE6;
    width: 2em;
    text-align: center;
}

@media (max-width: 445px) {
    .glyphicon {
        font-size: 30px;
    }
    p {
        font-size: 35px;
    }
}

@media (max-width: 400px) {
    .start-time {
        flex-flow: column;
    }
    input {
        font-size: 30px;
    }
}
